*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/
/app/debug/app-debug.apk
/app/release/app-release.apk
/app/release/output-metadata.json
/app/debug/output-metadata.json
/app/release/.aab
/app/release/new_fun_call_1.0.0.aab
/app/proguardMapping.txt
